@import '/src/styles/breakpoints';
@import '/src/styles/variables';

.container {
  max-height: 100%;
  overflow: overlay;
  margin: 30px 20px;
  font-size: 1rem;
  @media screen and (min-width: $sm) {
    border: 1px solid $border-default;
  }

  .highscores {
    display: flex;
    flex-direction: column;
    align-items: center;

    .table {
      width: 100%;
    
      tr th {
        padding: 10px;
      }
    }
  }

  .instructions ul.instruction-list {
    padding-left: 20px;
    padding-right: 10px;
    text-align: left;
    left: 100px;
  }

}
