<div>
  <canvas style="background-color: black;" id="canvas" #canvas></canvas>

  <!-- Level banner to display for each level-up -->
  <span id="level-banner"> LEVEL {{ level + 1 }} </span>

  <img id="player" src="assets/game/shooter.png" alt="shooter" />
  <img id="bullet" src="assets/game/bullet.png" alt="bullet" />
  <img id="ufo" src="assets/game/ufo.png" alt="ufo" />

  <!-- Dock at the bottom of the screen -->
  <div [ngStyle]="{'width': width + 'px'}" class="ground" style="background-image: url('assets/game/moving_stars.gif');width:640px">
    <hr class="divider" />
    <div class="dock">
      <!-- Current level -->
      <span class="level"> LEVEL {{ level + 1 }} </span>

      <!-- Visual for the number of lives left -->
      <div class="life-dock">
        <img class="life" *ngIf="life >= 1" src="assets/game/shooter.png" alt="shooter" />
        <img class="life" *ngIf="life >= 2" src="assets/game/shooter.png" alt="shooter" />
        <img class="life" *ngIf="life >= 3" src="assets/game/shooter.png" alt="shooter" />
      </div>

      <div style="align-items: center;" *ngIf="isDead">
        <button (click)="restartGame()" class="btn btn-primary">Restart</button>
      </div>

      <!-- Current score -->
      <span class="high-score"> SCORE {{ score | number: "5.0-0" }} </span>
    </div>
  </div>
</div>
